/* Write your CSS code here */
.avatar {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
.image {
  height: 250px;
  width: 600px;
  border-radius: 10px;
}
.flex {
  margin-left: 150px;
  margin-right: 120px;
}
.image-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content {
  color: #2f4f4f;
  font-weight: 500;
}
